
@keyframes fadeIn {
    from {
      margin-left: -300px;
    }
    to {
      margin-left: 0;
    }
  }

  @keyframes slideIn {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -300px;
    }
  }