$primary-background: #5C4228;
$header:#5C4228;
$button: #FECFA7;
$paragraf: #CAC3BC;
$border: #d7a87ab1;
$titles: #d2a67fb0;
$transition-duration: 1s;
$card: #483726;
$dark: #23201D;
$headerBox: #43311fc8;
$clicked: #2a2016c8;
$hover: #d8773fb1;
