@import "../helper/variable";
@import "../helper/mixin";



.main-head {
    @include flexible(flex, row, space-between);
   figure{
    margin: 0 0 0 30px;

   }
    img {
        width: 5vw;
    }

    ul {
        @include flexible(flex, row);
        list-style: none;
        background-color: $headerBox;
        padding: 0;
        border-radius: 30px;

        li {
            padding: 10px 15px 1px 15px;
            color: $paragraf;
            cursor: pointer;
            }

     li:nth-child(1) {
        color: rgb(249, 245, 245);
        background-color: $clicked;
        border-radius: 15px;
        padding: 10px 15px 1px 15px;
     }
    }

    .thirdHead {
        margin: 20px 30px 0 0;
      
        .button {
            @include button-styles($button, $dark);

        }
    }
}

#mobileClosed, #mobileOpened, #icoTwo {
    display: none;
}
